@charset "UTF-8";
@font-face {
  font-family: 'Amazon Ember';
  src: url(https://d3jlxzdxc80cmp.cloudfront.net/adt/hiring/fonts/amazonember.woff2) format("woff2"), url(https://d3jlxzdxc80cmp.cloudfront.net/adt/hiring/fonts/amazonember.woff) format("woff"); }
html,
body {
  position: relative;
  margin: 0px auto;
  background-color: #333333;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: "Amazon Ember"; }

body {
  max-width: 1000px;
  font-size: 16px;
  line-height: 1.5; }

a,
a:visited {
  color: #337ab7;
  text-decoration: none; }

a:hover {
  color: #ff9900; }

.logo {
  display: block;
  margin: 0px auto;
  margin-top: 30px; }

h2, h3 {
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center; }

em {
  font-weight: 500;
  font-size: 1.25em;
  animation: glow 1s ease-in-out alternate infinite; }

hr {
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  border-left: none;
  border-right: none; }

.widget {
  position: relative;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 100%;
  height: 342px;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), inset 0px 1px 2px rgba(0, 0, 0, 0.25), 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  background-color: #ffffff; }

.links {
  text-align: center; }

@keyframes glow {
  from {
    color: #FFFFFF; }
  to {
    color: #FFAA00; } }
/* Carousel */
* {
  box-sizing: border-box; }

.amazonSlides ~ .amazonSlides {
  display: none; }

/* Product Image */
.product-img-container {
  height: 342px;
  width: 330px;
  overflow: hidden; }
  .product-img-container .center-img {
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .product-img-container img {
    vertical-align: middle;
    max-height: 250px;
    max-width: 100%;
    margin: auto;
    padding-left: 80px; }

.slide {
  position: relative;
  left: -330px;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 0.5s forwards;
  animation-delay: 0.5s; }

@-webkit-keyframes slide {
  100% {
    left: 0; } }
@keyframes slide {
  100% {
    left: 0; } }
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #222222;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
  background: #f8f8f8;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 10px 8px rgba(0, 0, 0, 0.08); }

.next {
  right: 0;
  border-radius: 5px 0 0 5px; }

.prev:hover, .next:hover {
  background-color: #575d65; }

/* Product text */
.content-container {
  height: 260px;
  width: 100%;
  margin-left: 380px;
  margin-right: 60px;
  margin-top: 40px;
  position: absolute;
  top: 0px; }
  .content-container .title {
    color: #222222;
    font-size: 20px;
    max-width: 420px; }
  .content-container .byline {
    color: #575d65;
    font-size: 14px;
    margin-left: 5px; }
  .content-container a.reviews {
    color: #337ab7;
    font-size: 14px !important;
    width: 100%;
    margin-top: 20px; }
    .content-container a.reviews:hover {
      color: #ff9900; }
  .content-container .ratings {
    color: #575d65;
    font-size: 22px;
    margin-top: 10px;
    display: block; }
  .content-container .prime-eligible {
    color: #222222;
    font-size: 0;
    width: 100%;
    margin-top: 10px; }
    .content-container .prime-eligible[value="false"] {
      display: none; }
  .content-container .price {
    color: #575d65;
    font-size: 18px;
    position: absolute;
    bottom: 10px;
    background: #f8f8f8;
    border-radius: 50px;
    text-align: center;
    padding: 8px 40px;
    max-width: 140px; }
  .content-container .shipping {
    color: #575d65;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 150px; }
    .content-container .shipping[value="undefined"] {
      display: none; }

.button {
  background: #337ab7;
  border-radius: 50px;
  color: #ffffff !important;
  text-align: center;
  padding: 8px 20px 8px 8px;
  position: absolute;
  right: 40px;
  bottom: 50px;
  display: block;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.16), 0 10px 8px rgba(0, 0, 0, 0.08); }
  .button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

/* dots*/
.dot-container {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%; }
  .dot-container .dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 8px;
    background-color: #ebebeb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease; }
  .dot-container .active, .dot-container .dot:hover {
    background-color: #337ab7; }

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: 0.2; }
  to {
    opacity: 1; } }
/* Images */
.amazon-logo {
  background: url(https://d3jlxzdxc80cmp.cloudfront.net/adt/hiring/exercise2/sprite.png) no-repeat -236px -79px;
  width: 152px;
  height: 47px;
  position: absolute;
  right: 40px;
  top: 40px;
  display: block;
  z-index: 100;
  transform: scale(0.8); }

.prime-icon {
  background: url(https://d3jlxzdxc80cmp.cloudfront.net/adt/hiring/exercise2/sprite.png) no-repeat -10px -980px;
  width: 106px;
  height: 30px;
  display: block; }

.cart-icon {
  background: url(https://d3jlxzdxc80cmp.cloudfront.net/adt/hiring/exercise2/sprite.png) no-repeat -740px -510px;
  width: 50px;
  height: 32px;
  display: inline-block;
  transform: scale(0.45);
  vertical-align: middle;
  filter: invert(1);
  margin-top: -5px; }

/* Rating Meter */
meter {
  height: 22px;
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" y="0.9em" stroke-linejoin="round" fill="white" stroke="darkgrey" stroke-width="4"%3E★%3C/text%3E%3C/svg%3E') 0/auto 100%;
  height: 22px;
  width: 110px; }

meter::-webkit-meter-bar {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" y="0.9em" stroke-linejoin="round" fill="white" stroke="dimgrey" stroke-width="4"%3E★%3C/text%3E%3C/svg%3E') 0/auto 100%; }

/* firefox styling for ratings */
meter:-moz-meter-optimum::-moz-meter-bar,
meter:-moz-meter-sub-optimum::-moz-meter-bar,
meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" y="0.9em" stroke-linejoin="round" fill="grey" stroke="dimgrey" stroke-width="4"%3E★%3C/text%3E%3C/svg%3E') 0/auto 100%; }

/* webkit styling for ratings */
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"%3E%3Ctext font-size="100" y="0.9em" stroke-linejoin="round" fill="grey" stroke="dimgrey" stroke-width="4"%3E★%3C/text%3E%3C/svg%3E') 0/auto 100%; }

/*# sourceMappingURL=style.css.map */
